<?xml version="1.0"?>
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="customer_discount_price" instance="Cowell\Checkout\Observer\DiscountPrice" />
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="customer_logout" instance="Cowell\Checkout\Observer\CustomerLogout" />
    </event>
</config>