.list-directory__icon {
    display: inline-block;
    min-width: 10px;
    margin: 0 2px 5px 0;
    padding: 3px 5px;
    border-radius: 4px;
    font-size: 20px;
    line-height: 1.2;
}
.preview {

}
td.tougoupreview {
    text-align: center;
    padding: 0;
    vertical-align: middle;
}
.tougoupreview div, .tougoupreview span{
    line-height: 2.3rem;
}